<div class="ticket-seats">
    <app-nav-bar></app-nav-bar>
    <div class="seat-container">
        <div class="screen">All eyes this way please!</div>

        <div *ngFor="let row of rows">
            <span
              *ngFor="let col of columns"
              (click)="selectSeat(row + col)"
              [ngSwitch]="getSeatStatus(row + col)"
            >
              <span
                class="fa-solid fa-square  selected m-2"
                *ngSwitchCase="'selected'"
              ></span>
              <span
                class="fa-solid fa-square  occupied m-2"
                *ngSwitchCase="'sold'"
              ></span>
              <span 
                class="fa-solid fa-square  m-2"
                *ngSwitchDefault>
              </span>
            </span>
        </div>

        <ul class="showcase">
            <li>
              <div  class="fa-solid fa-square m-2"></div>
              <small>Available</small>
            </li>
            <li>
              <div class="fa-solid fa-square selected"></div>
              <small>Selected</small>
            </li>
            <li>
              <div class="fa-solid fa-square occupied"></div>
              <small>Sold</small>
            </li>    
        </ul>

        <div class="buy-ticket d-grid gap-2 col-3 mx-auto">
            <button class="btn" type="button" (click)="buyTickets()">Buy tickets</button>
        </div>
    </div>
</div>
