<div class="ticket-seats">
    <app-nav-bar></app-nav-bar>
    <div class="container">
        <div class="movie-content">
            <img [src]="dataMovie.moviePoster" alt="Movie Image">
            <h3 class="movieTitle">{{ dataMovie.movieTitle}}</h3>
            <div class="movie-details">
                Frame : {{ dataMovie.movieSubtitle }} <br>
                Genre : {{ dataMovie.movieText}}
            </div>

        </div>
        <div class="seat-content">
            <p class="screen-text">All eyes this way please!</p>
            <table>
    
            </table>
    
    
        </div>
    </div>
</div>
