@import "../../../variable.scss";

.seat-container {
    font-family: "Montserrat", sans-serif;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-color: $bodyColor;
    color: $light;
}    

.seat-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
}

.selected {
    color: #0081cb;
}
  
.occupied {
    color: $background;
}

.fa-solid:hover{
    cursor: pointer;
    transform: scale(1);

}
  
.showcase:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
  
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
  
.showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: $light;
    margin-top: 35px;
}
  
.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
  
.showcase li small {
    margin-left: 2px;
}
  
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.screen {
    position: relative;
    background: #fff;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    padding: 45px;
    color: $black;
    width: 25%;
    margin: 30px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

.btn {
    color: $light;
    background-color: $background;
    margin-bottom: 110px;
    margin-top: 13px;
    padding: 5px;
}
