@import "../../../variable.scss";

.trending-text{
    font-size: 16px;
    line-height: 20px;
    color: $primaryColor;
    border-bottom: 2px solid $black;
    padding: 13px;
    margin-left: 25px;
}
