@import "../../../variable.scss";

.confirm-form{
    margin-top: 90px;
}

.text {
    margin-left: 16%;
    font-size: 40px;
    line-height: 44px;
    margin-top: 150px;
}

.movie-text{
    margin-left: 16%;
    font-size: 30px;
    line-height: 34px;
    color: $black;
}

.movie-desc{
    margin-left: 16%;
    font-size: 13px;
    line-height: 18px;
}

.btn {
    color: $light;
    background-color: $background;
}