<div class="card-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid d-flex justify-content-center">
                <div class="row movie-card">
                    <div class="col-md-3">
                        <div class="cards">
                            <div class="first p-2 text-center">
                                <img src="../../../assets/_images/poster.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">Vikrant Rona</h5>
                                    <p class="subtitle">Adventure/Mystery/Thriller</p>
                                </div>
                                
                            </div>
            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cards">
                       <div class=" second  p-2 text-center">
                                <img src="../../../assets/_images/poster4.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">SuperPets</h5>
                                    <p class="subtitle">Adventure/Action/Animation</p>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-md-3">
                         <div class="cards">
                            <div class=" third p-2 text-center">
                                 <img src="../../../assets/_images/poster2.jpg" class="posterImage"/>
                                 <div class="card-body">
                                    <h5 class="title">Brahmāstra: Part One-Shiva</h5>
                                    <p class="subtitle">Adventure/Action</p>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cards">
                            <div class="fourth p-2 text-center">
                                <img src="../../../assets/_images/poster3.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">Takatak 2</h5>
                                    <p class="subtitle">Comedy/Romantic</p>
                                </div>
                                
                            </div>
            
                        </div>
                    </div>
            
                </div>
        
            </div>
           
          </div>
          <div class="carousel-item">
            <div class="container-fluid d-flex justify-content-center">
                <div class="row movie-card">
                    <div class="col-md-3">
                        <div class="cards">
                            <div class="first p-2 text-center">
                                <img src="../../../assets/_images/poster5.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">Bullet Train</h5>
                                    <p class="subtitle">Action/Thriller</p>
                                </div>
                                
                            </div>
            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cards">
                       <div class=" second  p-2 text-center">
                                <img src="../../../assets/_images/poster6.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">Timepass 3</h5>
                                    <p class="subtitle">Drama/Romantic</p>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-md-3">
                         <div class="cards">
                            <div class=" third p-2 text-center">
                                 <img src="../../../assets/_images/poster7.jpg" class="posterImage"/>
                                 <div class="card-body">
                                    <h5 class="title">Ekda Kaay Zala</h5>
                                    <p class="subtitle">Drama/Family</p>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="cards">
                            <div class="fourth p-2 text-center">
                                <img src="../../../assets/_images/poster8.jpg" class="posterImage"/>
                                <div class="card-body">
                                    <h5 class="title">Karthikeya 2</h5>
                                    <p class="subtitle">Fantasy/Mystery/Thriller</p>
                                </div>
                                
                            </div>
            
                        </div>
                    </div>
            
                </div>
        
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
