<div class="container">
    <div class="card hover-shadow shadow-2-strong" style="width: 18rem; border-radius: 10px;">
        <img [src]="movieDetail.moviePoster" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movieDetail.movieTitle}}</h5>
          <p class="card-subtitle">{{movieDetail.movieSubtitle}}</p>
          <p class="card-text">{{movieDetail.movieText}}</p>
          <button class="btn d-grid mx-auto" type="button" (click)="bookTickets()">Book tickets</button>
        </div>
    </div>

</div>

