@import "../../../variable.scss";

.btn {
    background-color: $background;
    color: $light;
    padding: 5px 40px 5px 40px;
    transition: all 0.2s ease;
    cursor: pointer;    
    box-shadow: 3px 3px 3px 3spx $black;
    transform: scale(1.1);
}

.card{
    border-radius: 4px;

    transition: all 0.2s ease;
    cursor: pointer;
}

.card:hover{
    box-shadow: 3px 3px 3px 3spx $black;
    transform: scale(1.1);
}