/* You can add global styles to this file, and also import other style files */
@import "./variable.scss";

.navbar-top{
    width: 100%;
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to bottom right,rgb(23, 31, 53) ,rgb(23, 31, 53),rgb(197, 11, 104));
} 

.btn .dropdown-toggle {
    color: $light;
    padding: 10px;
}    

.loginBtn{
    padding: 0.5rem 0.5rem !important;
    background-color: $background;
    border-radius: 12px;
}

.loginBtn .btn{
    color: $light;
}

.navbar-nav .nav-link.active{
   
    color: white;
    padding: 10px;
}


.carousel {
  position: relative;
    margin-top: 5px;
    height: auto;
}  

.advertise-images {
    height: 250px;
}

.carousel-item .img {
    width: 100%;
}