$primaryColor : rgb(168, 45, 70);;
$lightBackground : rgb(34, 47, 82);
$darkBackground : rgb(23, 31, 53);
$light : white;
$black : black;
$background : #c50b77;
$secondaryColor : grey;
$bodyColor : #242333;